<header class={{s.header}}>
  <h2 class={{s.headerh2}}>
    The Blog
  </h2>

  <nav class={{s.nav}}>
    <a routerLink="/new" *ngIf="appService.isAdmin" class={{s.linkButton}}>
      New Post
    </a>
    <a routerLink="/" class={{s.linkButton}}>
      Home
    </a>
    <a routerLink="/login" *ngIf="!appService.isAuth" class={{s.linkButton}}>
      Login
    </a>
    <a routerLink="/register" *ngIf="!appService.isAuth" class={{s.linkButton}}>
      Register
    </a>
    <button class={{s.linkButton}} (click)="onChangeTheme()">
      <fa-icon *ngIf="appService.darkTheme" [icon]="faSun"></fa-icon>
      <fa-icon *ngIf="!appService.darkTheme" [icon]="faMoon"></fa-icon>
    </button>
  </nav>
</header>