<header class={{s.header}}>
  <h2 class={{s.headerh2}}>
    The Blog
  </h2>

  <nav class={{s.nav}}>
    <a routerLink="/new" *ngIf="app.isAdmin" class={{s.linkbutton}}>
      New Post
    </a>
    <a routerLink="/" class={{s.linkbutton}}>
      Home
    </a>
    <a routerLink="/login" *ngIf="!app.isAuth" class={{s.linkbutton}}>
      Login
    </a>
    <a routerLink="/register" *ngIf="!app.isAuth" class={{s.linkbutton}}>
      Register
    </a>
    <button *ngIf="app.isAuth" class={{s.linkbutton}} (click)="onLogout()">
      Logout
    </button>
    <button class={{s.linkbutton}} (click)="onChangeTheme()">
      <fa-icon *ngIf="theme.darkTheme" [icon]="faSun"></fa-icon>
      <fa-icon *ngIf="!theme.darkTheme" [icon]="faMoon"></fa-icon>
    </button>
  </nav>
</header>