<div class={{s.home}}>
  <figure *ngFor="let post of allPosts" class={{s.figure}}>
    <div class={{s.figimagediv}}>
      <img src="{{host+'posts/'+post.image}}" alt="Image" class={{s.figimage}}>
    </div>
    <figcaption class={{s.figcaption}}>
      <p class={{s.figdate}}>
        {{lastModification(post)}}
      </p>
      <h3 class={{s.figtitle}}>
        {{post.title}}
      </h3>
      <p class={{s.figdesc}}>
        {{post.desc}}
      </p>
      <div class={{s.centerbox}}>
        <div class={{s.groupbutton}}>
          <button class={{s.pributtongroup}} (click)="onOpen(post)">
            Open
          </button>
          <button class={{s.secbuttongroup}} (click)="onEdit(post)" *ngIf="app.isAdmin">
            Edit
          </button>
          <button class={{s.danbuttongroup}} (click)="onDelete(post.id)" *ngIf="app.isAdmin">
            Delete
          </button>
        </div>
      </div>
    </figcaption>
  </figure>
</div>