<div class={{s.home}}>
  <figure *ngFor="let post of appService.posts" class={{s.figure}}>
    <img src="" alt="Image" class={{s.figimage}}>
    <figcaption class={{s.figcaption}}>
      <p class={{s.figdate}}>
        {{post.date}}
      </p>
      <h3 class={{s.figtitle}}>
        {{post.title}}
      </h3>
      <p class={{s.figdesc}}>
        {{post.desc}}
      </p>
      <div class={{s.centerbox}}>
        <div class={{s.groupbutton}}>
          <button class={{s.pributtongroup}} (click)="onOpen(post.id)">
            Open
          </button>
          <button class={{s.secbuttongroup}} (click)="onEdit(post.id)" *ngIf="appService.isAdmin">
            Edit
          </button>
          <button class={{s.danbuttongroup}} (click)="onDelete(post.id)" *ngIf="appService.isAdmin">
            Delete
          </button>
        </div>
      </div>
    </figcaption>
  </figure>
</div>